// npm 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Optional
  }

.navbar.btn-outline-light:hover{
    color:#333; //var(--bs-dark)
}
.header{
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}