// npm 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Optional
  }

.navbar.btn-outline-light:hover{
    color:#333; //var(--bs-dark)
}
.navbar{
  transition: all .5s ease-in-out;
}
.navbar-sticky{
  opacity: .9;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.header{
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.modal-dialog{
  max-width: 1000px;
}

.details,.statement{
  background: linear-gradient(to right, #101c81, #2a6ba3);
}
 

.download{
  background: url(../images/download-background.jpg);
}

.map iframe{
  left:0;
  top:0;
  height:400px;
  width:100%;
border:none;

}
// /* Ensure the modal has a fixed height and fits within the viewport */
// .modal-content {
//   height: 70vh; /* 70% of the viewport height */
//   display: flex;
//   flex-direction: column;
// }



// .modal-body {
//   flex: 1; /* Take up the remaining space */
//   overflow-y: auto; /* Optional: Add vertical scroll if content exceeds the height */
// }

// .modal-header, .modal-footer {
//   flex-shrink: 0; /* Ensure header and footer maintain their size */
// }
@media (max-width:1000px){
  .hero.image-container{
    display: flex;
    justify-content: center;
  }
  .hero.text-container{
    text-align: center;
  }
}